div.editor_contenteditable {
    background-color: white;
    border: 1px solid #444;
}

div.editor_contenteditable_toolbar {
    display: block;
}

div.editor_contenteditable_toolbar button {
    padding: 1px;
    padding: 3px;
}
div.editor_contenteditable_toolbar button img {
    padding: 1px;
}

div.editor_contenteditable_toolbar button.contenteditable_strike_button,
div.editor_contenteditable_toolbar button.contenteditable_unorderedlist_button,
div.editor_contenteditable_toolbar button.contenteditable_clear_button,
div.editor_contenteditable_toolbar button.contenteditable_indent_button {
    margin-right: 1em;
}
body.dir-rtl div.editor_contenteditable_toolbar button.contenteditable_strike_button,
body.dir-rtl div.editor_contenteditable_toolbar button.contenteditable_unorderedlist_button,
body.dir-rtl div.editor_contenteditable_toolbar button.contenteditable_clear_button,
body.dir-rtl div.editor_contenteditable_toolbar button.contenteditable_indent_button {
    margin-right: 0px;
    margin-left: 1em;
}

.contenteditable_hasmenu .icon {
    width: 32px;
}

.editor_contenteditable img {
    resize: both; overflow: auto;
}
.contenteditable_menuentry {
    clear: left;
}
.contenteditable_menuentry img {
    width: 16px;
    height: 16px;
}

.contenteditable_menu {
    min-width: 12em;
    background: white;
    padding: 1px;
}

.contenteditable_menu a {
    color: black;
}
.contenteditable_menuentry {
    border-bottom: 1px solid #eee;
    padding: 2px;
}

.contenteditable_menuentry h1,
.contenteditable_menuentry h2,
.contenteditable_menuentry p {
    margin: 4px;
}

